/* GLOBAL */
.container {
  margin: auto;
}
.btn {
  cursor: pointer;
  color: #ffffff;
  background-color: #8f5a21;
  border-color: #826505;
  font-size: 12px;
  border-radius: 0;
  font-weight: 800px;
  letter-spacing: 2px;
  white-space: inherit;
  text-transform: uppercase;
}

/* HEADER */
.header {
  background-color: #000000;
  width: 100%;
  min-height: 75px;
  padding: 40px 30px 20px 30px;
  position: fixed;
  
}
.header h1 {
  color: #ffffff;
  font-size: 25px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  float: left;
}
.header ul {
  text-align: right;
  float: right;
}
.header ul li {
  color: #ffffff;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  font-size: 15px;
}

/* JUMBOTRON */
.jumbotron {
  margin: 0;
  padding-top: 150px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/TAJumbotron.jpg);
  background-size: cover;
  min-height: 600px;
}
#jumbotron-title {
  color: #ffffff;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 50%;
}
#jumbotron-message {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 175px;
  padding-bottom: 15px;
  line-height: 2;
  letter-spacing: 2px;
  width: 50%;
}
/* SERVICE AREA SECTION */
section {
 width: 100%;
 background-color: #000000;
 min-height: 400px;
 margin: 0;
}
.area-title {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 15px;
}
.area-description {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
section h3 {
  margin: 0;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
section p {
  margin: 0px;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
.service-btn-row {
  text-align: center;
}
.service-btn {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* WHY ALCOHOL SECTION */
.why-alcohol {
  min-height: 1000px;
  width: 100%;
  background-color: #000000;
}
.why-title {
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 30px;
}
.why-description {
  font-size: 15px;
  text-align: center;
  line-height: 2;
  color: #ffffff;
  margin-bottom: 50px;
}
.why-row {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-6 {
  max-width: 50%;
}
.why-image img {
  height: auto;
  border-style: none;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
}
.why-content h2 {
  font-size: 26px;
  color: #ffffff;
}
.why-content p {
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
}

/* SUPPLEMENTAL WELCOME */
.supplemental-welcome {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  text-align: center;
}
.supplemental-welcome h2 {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #ffffff;
  font-size: 26px;
}

/* HOW IT WORKS AREA */
.how-it-works-area {
  min-height: 800px;
  background-color: #000000;
}
.how-it-works-area img {
  max-width: 100%;
  border-style: none;
  padding-bottom: 30px;
}
.how-it-works-area h2 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
.how-it-works-area .step-list li span {
  color: #000000;
  background-color: #ffffff;
  display: block;
  border-radius: 50px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-bottom: 15px;
}
.how-it-works-area .step-list li {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* TEAM MEMBER AREA */
.team-area {
  min-height: 1200px;
  background-color: #000000;
  width: 100%;
  padding-top: 50px;
}
.team-area-title {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.team-area-description {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;
  line-height: 2;
}
.team-member-list {
  padding-top: 100px;
  padding-bottom: 20px;
}
.team-member-list a {
  text-decoration: none;
}
.team-member-list .col-lg-4 {
  width: 33.33%;
  text-align: center;
}
.team-member-list .member-meta h4 {
  font-size: 20px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 10px;
}
.team-member-list .member-meta p {
  font-size: 15px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* CONTACT AREA */
.contact-area {
  min-height: 600px;
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 30px;
}
.contact-area .contact-title {
  color: #ffffff;
  font-size: 35px;
  line-height: 2;
  text-align: center;
}
.contact-area .contact-description {
  color: #ffffff;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
.form-container {
  text-align: center;
  padding-top: 20px;
}
.form-submit-btn {
  text-align: center;
}
.submit-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #000000;
}
footer h2 {
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 15px;
}