<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 id="jumbotron-title">Be Your Own Bartender!</h1>
      <p id="jumbotron-message">
        We're here to bring basic mixology to the masses. Many classic drinks
        are simple combinations of easy to acquire ingredients. Our logic
        engine lets you confidently select new options among tried and true
        classics.
      </p>
      <a class="btn btn-primary" href="ingredients.html" role="button">Get your drink on! (Responsibly of course) THIS IS A BUTTON</a>
      
    </div>
  </div>

  <section id="service-area">
    <div class="container">
    
      <p class="area-description">
        We start with a base spirit (vodka, gin, rum, bourbon) then we go from
        there. We connect you to videos for all our recipes, no matter how
        simple. Mix with confidence.
      </p>
      <div class="row">
        <div class="col-lg-4">
          <h3>Recipes</h3>
          <p>
            The heart of our project. Tasty classics with ingredients you
            should be able to acquire easily. Many of the best drinks only
            require 2-5 ingredients. We'll tell you what you need and how to
            use it.
          </p>
        </div>
        <div class="col-lg-4">
          <h3>Your Home Bar</h3>
          <p>
            Setting up a home bar? We got you. We'll help you figure out what
            you need to entertain, be able to make several classic drinks at
            home, and not break the bank.
          </p>
        </div>
        <div class="col-lg-4">
          <h3>Bars</h3>
          <p>
            Want to get fancy? Thinking of elaborate specialty drinks? Leave
            that to the professionals. We'll help you find the best cocktail
            bars near you. Don't spend your hard earned cash on specialty
            ingredients that you'll buy once, not get right, and then will sit
            in your cupboard and mock you.
          </p>
        </div>
      </div>
      <div class="row service-btn-row">
        <div class="col-lg-12">
          <a href="" class="btn service-btn">Get Started</a>
        </div>
      </div>
    </div>
  </section>

  
