<h2>Your Alcohol Choices</h2>
    <form id = "div-that-holds-checkboxes" action="/action_page.php" method="get">
    <input type="checkbox" name="liquor" value="Scotch"> Scotch<br>
    <input type="checkbox" name="liquor" value="Rum"> Rum<br>
    <input type="checkbox" name="liquor" value="Vodka"> Vodka<br>
    <input type="checkbox" name="Liquor" value="Bourbon"> Bourbon<br>
    <input type="checkbox" name="Liquor" value="Gin"> Gin<br>
    <input type="checkbox" name="Liquor" value="Tequila"> Tequila<br>
    <input type="checkbox" name="Liquor" value="Brandy"> Brandy/Cognac<br>

        <input type="submit" value="Submit">
                        </form>